$primaryColor: #2196f3;
$lightPrimaryColor: #f1fcff;
$secondaryColor: #ff6d00;
$lightSecondaryColor: #ff8a32;

$standardTransition: .2s ease-in-out;
$standardAnimation: .5s linear infinite;

$mobileBreakpoint: 754px;
